[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pandas = "*"
loguru = "*"
matplotlib = "*"
seaborn = "*"
shap = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
unit-tests = "pytest -s -vv -x tests"
lib-run = "python main.py"
