[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pandas = "*"
loguru = "*"
matplotlib = "*"
seaborn = "*"
shap = "*"
autopep8 = "*"
pylint = "*"
pylint-json2html = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
unit-tests = "pytest -s -vv -x tests"
lib-run = "python main.py"
format = "autopep8 --in-place --aggressive --aggressive --recursive mlvc --verbose"
code-quality = "pylint mlvc"